<div class="indexFooter">
  <p>Lost Items is not responsible for any item that falls into the wrong hands, as we only provide a platform for uploading lost and found items.</p>
  <footer class="indexNav indexFoot">
    <div class="indexNavImg">
      <img src="/images/lostItems.png" alt="CompanyLogo" />
    </div>
    <div class="indexNavBtn indexFooterLogos">
      <a href="https://github.com/rohitshukla-bhagat"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/rohitshuklabhagat/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/bhagat_photographer/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </footer>
</div>
