<nav class="navbar navbar-expand-md bg-body-white sticky-top">
  <div class="container-fluid mainNav">
    <a class="navbar-brand navComName" href="/"><img src="/images/lostItems.png" alt=""></a>
    <button class="navbar-toggler navBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link navLinks" href="/home">All Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLinks" href="/upload/lost">Upload Lost Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLinks" href="/upload/found">Upload Found Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLinks" href="/dashboard?path=check">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLinks" href="/records">Records</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ">
          <a href="/users">
            <img src="/images/users.png" alt="userImg" class="navUsers navLinks">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLinks" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>