<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lost Items</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="indexContainer">
      <div class="indexHeader">
        <nav class="indexNav">
          <div class="indexNavImg">
            <img src="/images/lostItems.png" alt="CompanyLogo" />
          </div>
          <div class="indexNavBtn">
            <form action="/login/form">
              <button type="submit" class="indexNavStartBtn">Start</button>
            </form>
          </div>
        </nav>
      </div>
      <div class="indexMain">
        <main class="indexMainContainer">
          <div class="indexMainContent">
            <h1>
              Lost Something?
              <span style="color: #144cb8">We'll Help You Find It</span>
            </h1>
            <p>
              Our smart Lost Items system helps connect lost items with their
              rightful owner safely and efficiently.
            </p>
            <form action="/login/form">
              <button type="submit" class="indexNavStartBtn">
                Get Started <i class="fa-solid fa-arrow-right"></i>
              </button>
            </form>
          </div>
          <div class="indexMainInfo">
            <div class="mainInfo1">
              <div class="mainIcons">
                <i class="fa-brands fa-searchengin"></i>
              </div>
              <p>Search the lost & found items of the people</p>
            </div>
            <div class="mainInfo2">
              <div class="mainIcons">
                <i class="fa-solid fa-reply"></i>
              </div>
              <p>Respond on the items of the users</p>
            </div>
            <div class="mainInfo3">
              <div class="mainIcons">
                <i class="fa-solid fa-bars-progress"></i>
              </div>
              <p>Manage your own uploaded items efficiently</p>
            </div>
          </div>
        </main>
      </div>
      <div class="indexFooter">
        <p>
          Lost Items is not responsible for any item that falls into the wrong
          hands, as we only provide a platform for uploading lost and found
          items.
        </p>
        <footer class="indexNav indexFoot">
          <div class="indexNavImg">
            <img src="/images/lostItems.png" alt="CompanyLogo" />
          </div>
          <div class="indexNavBtn indexFooterLogos">
            <a href="https://github.com/rohitshukla-bhagat"
              ><i class="fa-brands fa-github"></i
            ></a>
            <a href="https://www.linkedin.com/in/rohitshuklabhagat/"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a href="https://www.instagram.com/bhagat_photographer/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
