<% layout("/layouts/commonPage.ejs") %>
<div class="uploadItemContainer">
  <div class="formContainer">
    <h4>Add Lost Item Details</h4>
    <form action="/add/lost" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label fw-semibold">Title</label>
        <input
          type="text"
          name="item[title]"
          placeholder="Enter The Title"
          class="form-control"
          required
        />
        <div class="invalid-feedback formErrors">
          Title Should Be Required !
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label fw-semibold">Desciption</label>
        <textarea
          name="item[description]"
          id="des"
          placeholder="Enter The Description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback formErrors">
          Description Should Be Required !
        </div>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label fw-semibold" >Date</label>
        <input
          type="date"
          name="item[date]"
          placeholder="Enter The date"
          class="form-control"
          accept="image/*"
          required
        />
        <div class="invalid-feedback formErrors">Date Should Be Required !</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label fw-semibold">Item Image</label>
        <input type="file" name="image" class="form-control" required />
        <div class="invalid-feedback formErrors">
          Image Should Be Required !
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label fw-semibold">Location</label>
        <input
          type="text"
          name="item[location]"
          placeholder="Enter The Location"
          class="form-control"
          required
        />
        <div class="invalid-feedback formErrors">
          Location Should Be Required !
        </div>
      </div>
      <div class="mb-3">
        <label for="number" class="form-label fw-semibold">Contact Number</label>
        <input
          type="number"
          name="item[number]"
          placeholder="Enter The Number"
          class="form-control"
          required
        />
        <div class="invalid-feedback formErrors">
          Location Should Be Required !
        </div>
      </div>
      <button class="uploadItemAddBtn">Add</button>
    </form>
  </div>
</div>
